.header {
    display: flex;
    height: 80px;
    width: 100%;
}

.header .header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: none;
    width: 90%;
    margin: 0 auto;
}

.header-content .logo {
    display: flex;
    align-items: center;
}

.header-content .logo .logoImage {
    margin-top: -10px;
    filter: grayscale(100%);
}

.header-content .logo .logoText {
    font-weight: 300;
    font-size: 22px;
    margin-left: 10px;
}

.header-content .log-in {
    font-size: 14px;
    font-weight: 500;
}

.button {
    cursor: pointer;
    text-align: center;
}

.x {
    height: 450px;
}

.blank {
    height: 100%;
    border: solid #fff;
    border-width: 0px 20px 0px 20px;
    background-color: gray;
}

.y {
    display: flex;
    flex-direction: row;
    height: 200px;
}

.y .z {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}